Options -Indexes

RewriteEngine on

# ErrorDocument 404 /app/controller/error.php

# Site
RewriteRule ^$ app/controller/siteController.php?action=home [QSA,L]
RewriteRule ^addsite/?$ app/controller/siteController.php?action=addsite [QSA,L]
RewriteRule ^manage/?$ app/controller/siteController.php?action=manage_site [QSA,L]
RewriteRule ^delete/([0-9]+)$/?$ app/controller/siteController.php?action=delete_site&site_id=$1 [QSA,L]
RewriteRule ^login/?$ app/controller/siteController.php?action=login [QSA,L]
RewriteRule ^submit_site/?$ app/controller/siteController.php?action=submit_site [QSA,L]
RewriteRule ^create_account/?$ app/controller/siteController.php?action=create_account [QSA,L]
RewriteRule ^submit_account/?$ app/controller/siteController.php?action=submit_account [QSA,L]
RewriteRule ^drive_register/([0-9]+)$/?$ app/controller/siteController.php?action=drive_register&siteid=$1 [QSA,L]
RewriteRule ^drive_submit/([0-9]+-[0-9]+-[0-9]+)/([0-9]+:[0-9]+:[0-9]+)/(.*)$/?$ app/controller/siteController.php?action=drive_submit&date=$1&time=$2&name=$3 [QSA,L]
RewriteRule ^request/([0-9]+)/(.*)$/?$ app/controller/siteController.php?action=request&site_id=$1&driver_id=$2 [QSA,L]