html, body {
	height: 100%;
	width: 100%;
  	margin: 0;
  	padding: 0;
}

header {
	height: 10%;
	width: 100%;
}

h1.logo {
	font-weight: bold;
	/*margin-left: 3%;*/
	margin-top: 2%;
	margin-bottom: 2%;
	margin-left: 3%;
	float: left;
}

button.btn-primary {
	background-color: #30b9d4;
}

div.container {
	/*width: 100%;
	height: 89%;*/
	margin-top: 1.5%;
}

h2.siteHeader {
	font-weight: bold;
	margin-bottom: 0;
}

form.loginForm {
	float: right;
	margin-top: 2%;
	margin-right: 3%;
}

.bar {
	background-color: #30b9d4;
	height: 1%;
	margin-top: .5%;
}

div.dropcol {
	/*display: inline-block;
	margin-top: 0;*/
	float: right;
	margin-right: 65%;
}

div.col-visit {
	/*display: inline-block;*/
	float: left;
}

div.colsite {
	margin-left: 5%;
	margin-top: 2%;
}

h4.siteName {
	display: inline-block;
	text-align: bottom;
	/*float: left;*/
}
h6.siteDate {
	display: inline-block;
	text-align: bottom;
	/*float: left;*/
}

h5.driver {
	display: inline-block;
	margin-top: .5%;
	margin-top: .5%;
	margin-right: .5%;
}

button.request {
	display: inline-block;
}

div.coldriver {
	margin-left: 8%;
	margin-top: 1%;
}
